[Unit]
Description='Bosch BME680 Data Logging Service'

[Service]
Type=simple
User=pi
ExecStart=/bin/sh -c 'exec bme680-logger /home/pi/data.txt'
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
